.hello_world {
    text-align: center;
    font-size: 40px;
    font-family: 'Chicle', cursive;
}

body {
    margin: 0px;
}

.nav__box {
    position: relative;
    width: 100%;
    top: -55px;
    transition: .5s ease-out;
    transition-delay: 0.1s;
}
.nav__box:hover {
    top: 0;
}

.nav__logo {
    position: relative;
    font-size: 30px;
    left: 2%;
    font-family: 'Chicle', cursive;
}

li > a {
    text-decoration: none;
    font-family: 'Chicle', cursive;
    color: white;
    font-size: 25px;
}

.album__box {
    display: inline-block;
    margin: 25px;
    font-family: 'Chicle', cursive;
}

.album__cover, .album__box {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    border: 1px solid dodgerblue;
}

.album__title, .album__artist {
    text-align: center;
    margin: 0px;
    font-size: 25px;
    color: dodgerblue;
}

.vision {
    position: relative;
    visibility: hidden;
    bottom: 155px;
}

.album__cover:hover {
    opacity: 0.2;
}

.album__cover:hover + .vision {
    visibility: visible;
}

.album__box > a {
    text-decoration: none;
}

.album__cover__tracks {
    width: 300px;
    height: 300px;
    margin: 20px;
    border: 5px solid darkslategrey;
}

.track__list {
    width: 800px;
    color: black;
    font-family: 'Chicle', cursive;
    position: relative;
    float: left;
}